.public-header {
    height: 110px;
}

.public-header .header-logo {
    float: left;
    margin-top: 40px;
}

.public-header .header-logo a {
    height: 54px;
    width: 182px;
    background: url("../image/index-header-logo.png");
}

.public-header .header-nav {
    float: right;
    font-size: 14px;
}

.public-header .header-nav .item {
    float: left;
    margin-top: 44px;
    margin-left: 50px;
}

.public-header .header-nav a {
    color: #3b3b3b;
}

.public-container {
    position: relative;
    margin: 0 auto;
    width: 1100px;   
}

.public-footer {
    height: 218px;
    padding-top: 100px;
    background: #3b3b3b;
}

.public-footer .footer-col {
    float: left;
    width: 230px;
    margin-right: 60px;
    font-size: 16px;
    line-height: 1.8;
    color: #fff;
}

.public-footer .footer-col:last-child {
    margin-right: 0;
}

.public-footer .footer-col  .footer-logo {
    height: 54px;
    width: 182px;
    margin-top: -10px;
    background: url("../image/index-footer-logo.png");
}